<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">
    <img src="./static/example-jpg.jpg" alt="Header Image" class="header-image">
    <img src="./static/example-jpg.jpg" alt="Logo" class="form-logo">

    <h2>Contact Us</h2>
    <form action="/" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="xss_input" required>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

</body>
</html>
